* {
  font-family: sans-serif;
}

ul {
  list-style-type: none;
  margin: auto;
}

header {
  background-color: #333333;
  align-content: center;
}

header > h1 {
  text-align: center;
  color: white;
}

header > nav {
  background-color: white;
}

header > nav > ul {
  margin: auto;
  width: 200px;
}

header li {
  display: inline-block;
  background-color: #D3D3D3;
}

header a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

main > h1 {
  background-color: #80FFD0;
    font-weight: normal;
}

main > h1 > b {
  font-weight: bold;
  border-bottom: 4px solid yellow;
}

main li {
  display: inline-block;
}

li > footer {
  background-color: yellow;
  text-align: center;
}

body > footer {
  color: white;
  background-color: black;
  text-align: center;
}
