ul {
  list-style-type: none;
}

header {
  background-color: #333333;
  align-content: center;
}

header > h1 {
  color: white;
  width: 300px;
}

header > nav {
  background-color: white;
}

header li {
  display: inline-block;
  background-color: #D3D3D3;
}

header a {
  color: white;
  text-decoration: none;
}

main > h1 {
  background-color: #80FFD0;
}

main > h1 > b {
  border-bottom: 4px solid yellow;
}

li > footer {
  background-color: yellow;
}

body > footer {
  color: white;
  background-color: black;
}
